.footer{ 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid grey;
  
  h4,
  h5 {
    text-align: center;
  }
}